if imgName
    a(href=`${href}` class=`link-img ${className}`)
        img(src=`${imgName}` alt=`${text}` class="link-img__img" data-link)
else
    - var linkClass = `${className} text text_weight-semibold`
    - var linkIconClass = "link-with-icon__icon"
    case style
        when "with-bg"
            - linkClass = linkClass + ' link-with-bg'
            - linkIconClass = linkIconClass + ' link-with-icon__icon_link-with-bg'
        when "primary"
            - linkClass = linkClass + ' link-primary'
            - linkIconClass = linkIconClass + ' link-with-icon__icon_link-primary'
        when "btn"
            - linkClass = linkClass + ' link-btn'
            - linkIconClass = linkIconClass + ' link-with-icon__icon_link-btn'
        default
            - linkClass = linkClass + ' link'
            - linkIconClass = linkIconClass + ' link-with-icon__icon_link'
    if iconTmpl
        if iconOnly
            a(href=`${href}` class='link-with-icon link-with-icon_icon-only ' + linkClass)
                div(class=linkIconClass data-link)
        else
            if direction == 'vertical'
                - linkClass = linkClass + ' link-with-icon_vertical'
            if direction == 'horizontal'
                - linkClass = linkClass + ' link-with-icon_horizontal'
            a(href=`${href}` class=`link-with-icon ` + linkClass)
                div(class=linkIconClass data-link)
                span(class="link-with-icon__text" data-link) #{text}
    else
        a(href=`${href}` class=linkClass) #{text}
