if imgName
    a(href=`${href}` class=`link-img ${className}`)
        img(src=`${imgName}` alt=`${text}` class="link-img__img" data-link)
else
    if iconTmpl
        if iconOnly
            a(href=`${href}` class=`link-with-icon link-with-icon_icon-only ${className}`)
                div(class="link-with-icon__icon" data-link)
        else
            a(href=`${href}` class=`link-with-icon ${className}`)
                div(class="link-with-icon__icon" data-link)
                span(class="link-with-icon__text text text_weight-semibold" data-link) #{text}
    else
        case style
            when "with-bg"
                a(href=`${href}` class=`link-with-bg text text_weight-semibold ${className}`) #{text}
            when "primary"
                a(href=`${href}` class=`link-primary text text_weight-semibold ${className}`) #{text}
            when "btn"
                a(href=`${href}` class=`link-btn text text_weight-semibold ${className}`) #{text}
            default
                a(href=`${href}` class=`link text text_weight-semibold ${className}`) #{text}
