div(class="input-block")
    div(class="input-block__input")
        input(name=`${name}` type=`${type}` placeholder=`${placeholder}` class=`${elClass}`)
    div(class=`input-block__error ${elClass}-error`)